input(type="file", name="file", onchange="angular.element(this).scope().setFile(this)")#fileName
button(type="button", ng-click="saveFile()") Insert file
button(type="button", ng-click="createFile()") Create file